body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: space-evenly;
    align-items: center;
    background-color: #0066cc;
    font-family: Alata;
    color: white;
}

header {
    line-height: 3mm;
}

header,
nav {
    text-align: center;
    background-color: #0066ff;
    padding: 10px;
    border-radius: 25px;
    text-shadow: 4px 4px 2px #0033cc;
    box-shadow: 4px 4px 2px #0033cc;
    display: block;
}

nav h4 {
    line-height: 10mm;
}

main {
    display: flex;
    justify-content: center;
    align-content: center;
}

iframe {
    width: 100%;
    height: 0px;
    border: 0;
    margin: 5px;
    padding: 0;
    border-radius: 25px;
    background-color: white;
    box-shadow: 4px 4px 2px #0033cc;
}

nav a {
    background-color: #0099ff;
    padding: 5px;
    white-space: nowrap;
    margin-inline: 1mm;
    line-height: 9mm;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 1px #0066cc;
    box-shadow: 3px 3px 2px #0033cc;
}

footer {
    font-size: small;
    text-transform: uppercase;
    letter-spacing: 0.4ch;
    margin: 20px;
    text-align: center;
    font-weight: bold;
    white-space: nowrap;
    opacity: 50%;
}

.container {
    max-width: 315mm;
    height: auto;
}