body {
    font-family: 'Segoe UI', sans-serif;
    padding: 30px;
    background-color: #f4f7f6;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.botones {
    display: flex;
    gap: 10px;
}

button {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color: white;
}

.btn-add {
    background-color: #007bff;
}

.btn-clear {
    background-color: #dc3545;
}

.btn-save {
    background-color: rgb(61, 204, 80);
}

.btn-load {
    background-color: rgb(230, 123, 23);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #eee;
}