* {
    font-family: 'Exo';
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    gap: 1em;
    text-align: center;
    background-image: linear-gradient(rgb(241, 241, 227) 0%, rgb(248, 250, 242) 100%);
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2em;
    border-radius: 2em;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, .5);
}

body,
.result {
    background-image: repeating-linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(17, 34, 17) 2px, rgb(0, 0, 0) 4px);
}

.result {
    border-radius: 2em;
    color: greenyellow;
    font-family: 'Ubuntu Mono';
    font-size: 2em;
    margin: 0;
    padding: 10px;
    letter-spacing: 0.5ch;
    white-space: pre;
    border: 4px outset rgb(221, 209, 195);
}

button {
    background-color: rgb(255, 255, 251);
    border: 1px inset rgb(214, 185, 152);
    padding: 0.75em;
    border-radius: 1em;
}

input {
    padding: 0.5em;
    text-align: center;
}