body {
    font-family: 'Alata';
    background-color: rgb(151, 173, 194);
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-image: linear-gradient(rgb(227, 241, 241) 0%, rgb(242, 247, 250) 100%);
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2em;
    border-radius: 2em;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, .5);
}

.container h2+* {
    border-radius: 1em;
    padding: 0.5em;
}

.container button {
    border-radius: 1em;
    border: 0;
    background-image: linear-gradient(rgb(164, 208, 233) 0%, rgb(224, 250, 255) 100%);
}

.container button,
.container .result {
    margin-top: 2em;
    padding: 0.5em;
}

.result {
    background-color: darkblue;
    border-radius: 1em;
    color: white;
}