body {
    font-family: 'Exo';
    background-color: rgb(144, 196, 93);
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-image: linear-gradient(rgb(241, 241, 227) 0%, rgb(248, 250, 242) 100%);
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2em;
    border-radius: 2em;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, .5);
}

.container h2+* {
    border-radius: 1em;
    padding: 0.5em;
}

.container button {
    border-radius: 1em;
    border: 0;
    background-image: linear-gradient(rgb(233, 211, 164) 0%, rgb(255, 249, 224) 100%);
}

.container button,
.container .result {
    margin-top: 2em;
    padding: 0.5em;
}

.result {
    background-color: darkblue;
    border-radius: 1em;
    color: white;
}

.container #addNumMenu {
    display: none;
}